{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Suger_Tk</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'blog/css/blog-home.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/blog/home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url "about_me" %}"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- 页面内容 -->
    <div class="container">
        <div class="row">

		    {% block content %}
		    {% endblock %}

            <div class="col-md-4">

                <!-- 搜索 -->
                <div class="well">
                    <h4>搜索</h4>
                    <!--action表示表单跳转的url-->
                    <form action="/blog/search/" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="s">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="Search" >
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </form>
                    <!-- /.input-group -->
                </div>

                <!-- 分类 -->
                <div class="well">
                    <h4>分类</h4>
                    {% get_categories as category_list %}
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for category in category_list %}
                                <li><a href="{% url "get_category" pk=category.pk %}">{{ category.name }}</a>
                                </li>
                                {% empty %}
                                暂无分类！
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- 归档 -->
                <div class="well well-lg">
                    <h4>归档</h4>
                    {% archives as date_list %}
                        <div class="row">
                            <div class="col-lg-6">
                                {% for date in date_list %}
                                <ul class="list-unstyled">
                                    <!--给name=get_archives的html页面传两个参数(year=年,month=月)-->
                                    <li><a href="{% url "get_archives" year=date.year month=date.month %}">{{ date.year }}年{{ date.month }}月</a>
                                    </li>
                                    {% empty %}
                                    暂无归档！
                                {% endfor %}
                                </ul>
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                </div>

                 <!-- 标签 -->
                <div class="well">
                    <h4>标签云</h4>
                    {% get_tags as tag_list %}
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for tag in tag_list %}
                                <li><a href={% url "get_tag" pk=tag.pk %}>{{ tag.name }}</a>
                                </li>
                                {% empty %}
                                暂无分类！
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>


            </div><!-- col-md-4 -->

        </div><!-- row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Suger_Tk Blog 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'blog/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

</body>

</html>
